{% extends "layout.html" %}
{% block localhead %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}" />
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
    #sortable li { margin: 0 3px 3px 3px; font-size: 1.3em;  }
    #sortable li span { margin-left: -1.3em; }
    #sortable li .li_container { height: 325px; }
    .deletebutton { margin:none; height: 325px}
    #sortable li .li_left {float:left; width:125px; height: 30px; display:block }
    #sortable li .rule {float:left; width:80%; clear:none; display:block}
    #sortable li .rule ul li {list-style-type: none; margin: 0; padding: 0;}
    #sortable li .rule .item {font-size: 11.5pt;float:left; text-align:center; margin-right: 5px}
    #sortable li .rule ul li select {width:130px;}
    #sortable li .li_left input { margin: 5px 10px 0px 5px; height: 40px; font-size: 1.2em; width: 125px}
    #sortable li .li_right { float:right; width:auto; margin: 0 0 0 15px ;height: 30px; display:block}
    #sortable li { background-color:#ccc;margin: 5px 0 0 0;}
    .content { width: 100%; overflow:visible !important }
    .break {block: both}
  </style>
  <script type="text/javascript"> 
      $(document).ready(function() {
        $('#dtable').DataTable();

        $( "#sortable" ).sortable({
          revert: true
        });

        $("#addbutton").on('click', function(){
          var cols = ['sourceid', 'providertype', 'name', 'mailing address'];
          $('#rules > ul').append(
              $('<li>').append(
                $('<div>').attr('class','li_container').append(
                  $('<div>').attr('class','li_left').append(
                    $('<input>').attr('name','title').attr('value','New Rule').attr('type','text')
                  )
                  ,
                  $('<div>').attr('class','rule').append(create_selections())
                  ,
                  $('<div>').attr('class','li_right').append(
                    $('<button>').attr('class','deletebutton').on('click',function() {
                        $(this).closest('li').remove();
                        }).text('delete')
                    )
                  )
                )
              );
            });

        $('.deletebutton').on('click', function() {
              $(this).closest('li').remove();
              });
        $( "#sortable .li_right" ).append(
            $('<button>').attr('class','deletebutton').text('delete').on('click',function() {
                        $(this).closest('li').remove();
                        }).text('delete')

        );


        //var cols = ['sourceid', 'providertype', 'name', 'abby'];
        var cols = {{ columns|safe }}

        $('.rule').each(function(){
          $(this).append(create_selections());
        });

        function create_selections(){
           var html = '<ul>'
           $.each(cols, function(i, val){
              html += '<li class="item">' + val + '<br /><select>' +  
           ' <option value = "ignore">ignore</option>' +
           ' <option value = "exact">exact match</option>' +
           ' <option value = "exact">fuzzy match</option>' +
           '</select></li>'
           })
           html += '</ul>'
           return html;
        }

      });

  </script>
{% endblock %}
{% block body %}
  {% if session.logged_in %}

<div class='rule-controls'>
<button id="addbutton" >Add Rule</button>
<button id="loadbutton" >Load Defaults</button>
<button id="savebutton" >Save Rules</button>
</div>
<div id=rules>
  <ul id="sortable">
    <li class="ui-state-default">
    <div class="li_container">
      <div class="li_left">
        <input name="title" value="Rule 1" type="text"></input>
      </div>
      <div class="rule">
      </div>
      <div class="li_right">
      </div>
      <div class="break"></div>
    </div>
    </li>
  </ul>
</div>
 
  {% else %}
    <p> You are not logged in. </p>
	{% endif %}
  </ul>
{% endblock %}
