body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 95%; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.content_wrapper{ width: 100%}
.content        { width: 100%; overflow-x:scroll; overflow-y:visible }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.flash          { background: #CEE5F5; padding: 0.5em; margin-bottom: 15px;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.metanav {
  margin-bottom: 20px;
}
.login-link {
  float: right;
  display: block;
}
#login {
  width: 400px;
  margin: 10px auto;
}


